
@use '../../assets/styles/mixins' as *; 
hr{
    border: 0.5px solid rgba(28, 18, 44, 0.2)!important;
}


body{
    width: 100%;
    display: block;
    height: 100vh;
}

.loading-spinner{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    width: 100%;
    height: 100%;
}

.custom-button{
    @include screen-media-max(md) {
        padding: 1rem!important;
       }
}

.mt-50p {
    margin-top: 50%;
  }

  .mt-25p {
    margin-top: 25%;
  }

  /* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .carousel-interactive-icon{
    width: 2rem!important;
    height: 2rem!important;
  }